<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
  </head>
  <body>
    <h1>MVC 패턴과 MySQL 연결</h1>
    <a href="/visitors">방명록 남기기</a>
  </body>
</html>
