<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 ERROR</title>
  </head>
  <body>
    <h2>찾을 수 없는 페이지입니다.</h2>
    <h2>url이 맞는지 확인해보세요</h2>
    <a href="/">홈으로</a>
  </body>
</html>
