<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '로그인' })%>
  <body>
    <h1>로그인</h1>
    <!-- 
      [로그인] 버튼을 클릭하면 profile.ejs에서 특정 유저 정보를 보여주어야 하기 때문에 
      userid 정보를 value에 저장(POST /user/signin 요청의 응답을 받은 후 수행)하여
      폼(input)이 보이지 않도록 hidden 처리함
    -->
    <form name="form_info" action="/user/profile" method="POST">
      <input type="hidden" name="userid" />
    </form>

    <form name="form_login">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <button type="button" onclick="logins();">Login</button>
    </form>

    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user/signup">회원가입 페이지</a>

    <script>
      // TODO: [Login] 버튼 클릭시 서버에 로그인 요청하기
      // POST /user/signin
      function logins() {
        const form = document.forms["form_login"];
        const formInfo = document.forms["form_info"];

        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          url: "/user/signin",
          method: "POST",
          data: {
            userid: form.userid.value,
            pw: form.pw.value,
          },
        })
          .then((res) => {
            console.log(res); //true, false
            const { data } = res;

            if (data) {
              // 로그인 성공
              // 1. 로그인 성공 alert 띄우기
              alert("로그인 성공");
              // 2. hidden input에 userid 정보 전달하기
              formInfo.userid.value = form.userid.value;
              // 3. hidden input form 제출
              formInfo.submit(); //POST 요청 보내는 중 /user/profile
            } else {
              alert("로그인 실패!!");
              form.reset(); // input창 초기화
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </body>
</html>
