<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>여기는 유저페이지</title>
  </head>
  <body>
    <h1>유저 페이지</h1>
    <a href="/">홈으로 이동</a>
    <p><%=userInfo.id%></p>
    <p><%=userInfo.pw%></p>
  </body>
</html>
