<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head',{title:'Home'})%>
  </head>
  <body>
    <%- include('header')%>
    <h1>session ์ค์ต</h1>
    <p>์ฌ๊ธฐ๋ ํ์๋๋ค.๐</p>

    <!-- ๋ก๊ทธ์ธ ๋์๋ค๋ฉด -->
    <% if(isLogin){ %>
    <p><%=user%>๋ ํ์ํฉ๋๋ค.</p>
    <% } else{%>
    <!-- ๋ก๊ทธ์ธ์ด ๋์ง ์์๋ค๋ฉด -->
    <p>๋ก๊ทธ์ธ์ ์์ง ํ์ง ์์ผ์จ๊ตฐ์, ๋ก๊ทธ์ธ์ ์งํํด๋ณด์ธ์!</p>
    <% } %>
  </body>
</html>
