<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="id" required />
      <input type="password" name="pw" required />
      <input type="submit" value="회원가입하기" />
    </form>
  </body>
</html>
