<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다른 페이지에서 쿠키 확인</title>
  </head>
  <body>
    <h3>개발자도구에서 쿠키를 확인해보세요!</h3>
    <a href="/">홈으로</a>
  </body>
</html>
