<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cookie</title>
  </head>
  <body>
    <h1>쿠키 확인하기</h1>

    <!-- get 요청을 보내기 위한 a tag -->
    <a href="/setCookie">쿠키 설정</a>
    <a href="/getCookie">쿠키값 가져오기</a>
    <a href="/clearCookie">쿠키 삭제</a>

    <br /><br />
    <a href="/abc">다른 페이지에서 쿠키 확인</a>

    <script>
      //   console.log(document.cookie);
      //   document.cookie = "user=sesac; expires=21 Feb 2024 /12:00:00 GMT; path=/";
      //   console.log(document.cookie);
    </script>
  </body>
</html>
