<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .profile {
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 20px #0002;
      }
    </style>

    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>파일 한 개 업로드</h2>
    <!-- multipart/form-data 는 method가 post일 때만 사용가능 -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" /><br />
      <input
        type="text"
        name="title"
        placeholder="사진 제목을 입력해주세요"
      /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>파일 여러개 업로드(ver.01)</h2>
    <p>하나의 input에 여러 개 파일 업로드(multiple)</p>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <input type="file" name="multifiles" multiple /><br />
      <input
        type="text"
        name="title"
        placeholder="사진 제목을 입력해주세요"
      /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>파일 여러개 업로드(ver.02)</h2>
    <p>여러개의 input에 파일 업로드</p>
    <form action="/uploads/fields" method="post" enctype="multipart/form-data">
      <input type="file" name="file1" /><br />
      <input
        type="text"
        name="title1"
        placeholder="사진 제목을 입력해주세요"
      /><br /><br />

      <input type="file" name="file2" /><br />
      <input
        type="text"
        name="title2"
        placeholder="사진 제목을 입력해주세요"
      /><br /><br />

      <input type="file" name="file3" /><br />
      <input
        type="text"
        name="title3"
        placeholder="사진 제목을 입력해주세요"
      /><br /><br />

      <button type="submit">업로드</button>
    </form>

    <hr />
    <br /><br />
    <h2>동적 파일 업로드</h2>
    <div class="dynamic">
      <input type="file" id="dynamicFile" name="dynamicFile" />
      <br />
      <input
        type="text"
        id="dynamicTitle"
        name="dynamicTitle"
        placeholder="프로필 설명"
      />
      <br />
      <button type="button" onclick="fileUpload()">프로필 업로드</button>
      <button type="button" onclick="fileAndTextUpload()">
        프로필 업로드(with text)
      </button>

      <br />
      <br />
      <h3>결과화면</h3>
      <img
        src="/static/img/default.jpg"
        alt="기본 프로필 이미지"
        width="200"
        height="200"
        class="profile"
      />
      <div class="tit"></div>
    </div>

    <script>
      function fileUpload() {
        // console.log(dynamicTitle);
        // console.log(dynamicFile);
        // id값으로 바로 접근할 수 있음. 하지만 명시적으로 선언해주세요.

        const file = document.getElementById("dynamicFile");
        const img = document.querySelector(".profile");
        const formData = new FormData();
        /* 
        자바스크립트에서 기본 제공하는 클래스인 FormData,
        이미지 pdf 등 파일을 "페이지 전환 없이", 비동기 적으로 제출싶을 때 사용
        */

        console.log(file);
        console.dir(file);
        console.log(file.files[0]);

        formData.append("dynamicFile", file.files[0]);
        // <input name="dynamicFile" value=file.files[0] />
        // formData.append('네임',value)

        axios({
          method: "POST",
          url: "/dynamicUpload",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res);
          console.log(res.data); // 파일과 관련된 정보
          console.log(res.data.path); // 업로드된 이미지 정보
          // img태그에 업로드한 사진 올리기
          img.src = "/" + res.data.path;
        });
      }

      function fileAndTextUpload() {
        const formData = new FormData();
        const file = document.getElementById("dynamicFile");
        const title = document.getElementById("dynamicTitle");
        const img = document.querySelector(".profile");
        const resultTitle = document.querySelector(".tit");

        formData.append("dynamicFile", file.files[0]);
        formData.append("dynamicTitle", title.value);

        axios({
          method: "POST",
          data: formData,
          url: "/dynamicUpload",
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
          .then((res) => {
            console.log(res.data);
            console.log(res.data.title);
            console.log(res.data.fileInfo);
            console.log(res.data.fileInfo.path);
            img.src = `/${res.data.fileInfo.path}`;
            resultTitle.innerText = res.data.title.dynamicTitle;
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
