<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head', {title:'LOGIN'})%>
  </head>
  <body>
    <%- include('./includes/header')%>
    <h1>로그인</h1>
  </body>
</html>
