.container {
  background-color: #9bbbd4;
  height: 500px;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* [HEADER] */
.container header {
  width: 100%;
  box-shadow: 0px 2px 2px #7a7a7a20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
}

/* [SECTION] */
.container section {
  padding: 16px;
  overflow-y: auto;
  flex-basis: 80%;
}
/* 스크롤 모양 변경 */
.container section::-webkit-scrollbar {
  width: 4px;
}
.container section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
}
.container section::-webkit-scrollbar-track {
  padding: 1px;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: inset 0px 0px 2px white;
}

/* section-말풍선 */
/* 
  <div class="speech me">
      <span class="msg-box">내 메세지</span>
    </div>
    <div class="speech other">
      <span>socket.id</span>
      <span>다른 사람이 보낸 채팅 내용</span>
    </div>
  */

.container .speech .msg-box {
  display: inline-block;
  box-shadow: 1px 1px 5px #7a7a7a;
  border-radius: 8px;
  padding: 0.3rem;
  margin: 0.5rem 0;
  max-width: 60%;
}

.container .speech.me {
  text-align: right;
}

.container .speech.other {
  position: relative;
  margin: 10px 0;
}
.container .speech.other .nickname {
  font-size: 10px;
  position: absolute;
  top: -8px;
}

.container .speech.me .msg-box {
  background-color: #fef01b;
}
.container .speech.other .msg-box {
  background-color: #ffffff;
}
/* [MSG_FORM] */
.container .msg-form {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  flex-basis: 10%;
}

.container .msg-form input {
  flex-basis: 75%;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 8px 16px;
}
.container .msg-form input:focus + button {
  background-color: #fef01b;
}

.container .msg-form button {
  flex-basis: 12%;
  border: none;
  border-radius: 3px;
}

/* DM-select 추가 */
.container .msg-form #dm-select {
  flex-basis: 12%;
  border: none;
  outline: none;
  border-radius: 3px;
  text-align: center;
}

/* dm css */
.container .speech.other.dm .msg-box {
  background-color: #fff5;
}

/* 입장알림 CSS */
.container section .notice {
  width: 80%;
  background-color: #fff5;
  border-radius: 50px;
  text-align: center;
  padding: 2px;
  color: #4449;
  margin: 8px auto;
  font-size: 14px;
}
