<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture.spring_boot_mybatis.mapper.BoardMapper">
    <select id="getBoardsAll">
        SELECT * FROM board
    </select>

    <insert id="insertBoard" parameterType="map">
        INSERT INTO board(title, content, writer) VALUES(#{title}, #{content}, #{writer})
    </insert>

    <update id="updateBoard" parameterType="map">
        UPDATE board SET title=#{title}, content=#{content}, writer=#{writer} WHERE id=#{id}
    </update>

    <delete id="deleteBoard" parameterType="Integer">
        DELETE FROM board WHERE id=#{id}
    </delete>
</mapper>