<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jwt 인증</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>jwt</h1>
    <div id="info"></div>

    <script>
      const a = 1;
      // 즉시 실행 함수
      // 함수를 만듦과 동시에 호출
      (function () {
        console.log("즉시 실행함수");
        console.log("즉시 실행 익명 함수");
      })();

      ((a) => {
        console.log("화살표 함수도 가능합니다!");
        console.log(a);
      })(1);

      (function text(t) {
        console.log(t);
      })("안녕하세요");

      /* 
      왜 사용하나요?
      1. 전역 변수 사용을 피하기 위해서 사용
        (전역 변수는 다른 코드에 영향을 미칠 수 있어 피하는게 좋습니다.)

      2. 라이브러리 내의 전역변수 충돌을 피할 수 있음
      */

      (async function () {
        const info = document.getElementById("info");
        const token = localStorage.getItem("login");

        console.log(info);
        console.log(token);

        let data = "";
        if (!token) {
          //localStorage에 토큰이 없다면, 로그인이 안된 상태
          data = '<a href="/login">로그인</a>';
        } else {
          // localStorage에 토큰이 있을 때, 로그인된 상태
          const response = await axios({
            method: "POST",
            url: "/token",
            headers: {
              Authorization: `Bearer ${token}`,
            },
          });

          console.log(response.data);
          // {result:false, message:'인증된 회원이 ~'}
          // {result:true, name:'코코아'}

          if (response.data.result) {
            data = `
            <p>${response.data.name}님 환영합니다.</p>
            <button type="button" onclick="logout()">로그아웃</button>
            `;
          }
        }

        info.innerHTML = data;
      })();

      function logout() {
        // 로컬스토리지에서 jwt 정보 삭제
        localStorage.clear();
        // 새로 고침으로 뷰 화면 변경
        document.location.reload();
      }
    </script>
  </body>
</html>
