<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>get 전송</h3>
  <form action="/api/res1" method="get">
    이름: <input type="text" name="name"/>
    <br/>
    나이: <input type="number" name="age">
    <button type="submit">전송</button>
  </form>
  <br/>
  <a href="/api/res2/lily">/api/res2/lily</a>
  <a href="/api/res2/lily/88">/api/res2/lily/88</a>
  <br/>

  <h3>post 전송</h3>
  <form action="/api/res3" method="post">
    이름: <input type="text" name="name"/>
    <br/>
    나이: <input type="number" name="age">
    <button type="submit">전송</button>
  </form>
</body>
</html>